Flask==2.3.2
Flask-Cors==3.0.9
Markdown==3.1.1
pika==1.0.1
psycopg2==2.8.3
python-swiftclient==3.7.0
python-keystoneclient==3.15.0
PyYAML==5.4
redis==3.2.1
requests==2.22.0
urllib3==1.26.5
elasticsearch==7.0.2
pyzmq==18.1.0
zmq==0.0.0
filetype==1.0.5
kafka-python==1.4.7
